body{
	font-family:'Avenir Next',Calibri,Arial,sans-serif;
	margin:2rem;
}
nav ul,footer ul{
	padding:0;
	list-style:none;
	font-weight:bold;
}
nav ul li,footer ul li{
	display:inline;
	margin-right:1rem;
}
a{
	text-decoration:none;
	color:#999;
}
a:hover{
	text-decoration:underline;
}
h1{
	font-size:2rem;
}
p{
	font-size:1.2rem;
	line-height:1;
	color:#333;
}
footer{
	border-top:1px solid #d5d5d5;
	font-size:0.8em;
}

ul.posts{ 
	margin:20px auto 40px; 
	font-size:1.2rem;
}

ul.posts li{
	list-style:none;
}
img{
	width:50%;
	max-width:100%;
}
